<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="1">
    <listeners>

        <listener class-name="listenerutills.Antransformer"></listener>
        <listener class-name="listenerutills.Testlistener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/SELENIUM">
       <classes>
           <class name="Homepagetest">
               <methods>
                   <include name="verifytitle"></include>
                   <include name="verifysubmenubar"></include>
                   <include name="isloginlabledisplay"></include>
                   <include name="verifyloginformlable"></include>
                   <include name="verifyiconsonlandingpage"></include>
                   <include name="verifyatmservices"></include>
                   <include name="verifyonlineservices"></include>
                   <include name="verifynewslableanddate"></include>
               </methods>
           </class>
           <class name="Userragistrationpagetest">
               <methods>
                   <include name="verifyragistrationpagetitile"></include>
                   <include name="registeruser"></include>
               </methods>
           </class>
           <class name="BrokenlinkTest">
               <methods>
                   <exclude name="findbrokenlink"></exclude>
               </methods>
           </class>

       </classes> 
    </test>
</suite>