<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3" preserve-order="true" verbose="5">
    <listeners>

        <listener class-name="listenerutills.Antransformer"></listener>
        <listener class-name="listenerutills.Testlistener"></listener>
    </listeners>
    <test name="D:/SELENIUM1" enabled="true">
        <parameter name="browsername" value="chrome"></parameter>
       <classes>
           <class name="Homepagetest">
               <methods>
                   <include name="verifytitle"></include>
                   <include name="verifysubmenubar"></include>
                   <include name="isloginlabledisplay"></include>
                   <include name="verifyloginformlable"></include>

               </methods>
           </class>
           </classes>
    </test>
    <test name="D:/SELENIUM2" enabled="true">
        <parameter name="browsername" value="micrsoftedge"></parameter>
        <classes>
            <class name="Homepagetest">
                <methods>
                    <include name="verifyiconsonlandingpage"></include>
                    <include name="verifyatmservices"></include>
                    <include name="verifyonlineservices"></include>
                    <include name="verifynewslableanddate"></include>

                </methods>
            </class>
        </classes>
    </test>
    <test name="D:/SELENIUM3" enabled="true">
        <parameter name="browsername" value="microsoftedge"></parameter>
        <classes>
           <class name="Userragistrationpagetest">
               <methods>
                   <include name="verifyragistrationpagetitile"></include>
                   <include name="registeruser"></include>
               </methods>
           </class>
        </classes>
    </test>
    <test name="D:/SELENIUM4" enabled="true">
        <parameter name="browsername" value="chrome"></parameter>
        <classes>
           <class name="BrokenlinkTest" >
               <methods>
                   <include name="findbrokenlink"></include>
               </methods>
           </class>

       </classes> 
    </test>
</suite>